﻿@model EcTest.Models.LoginModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/FixedLayout.cshtml";
}
<div class="row">
    <div class="main-login col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
        <!-- start: LOGIN BOX -->
        <div class="box-login">
            @using (Html.BeginForm("login", "account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-login", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.Partial("_sfmessage")
                <h2><i class="fa fa-lock"></i>&nbsp;Login</h2><br />
                <p>
                    Please enter your name and password to log in.
                </p>
                <div class="form-group">
                    <span class="input-icon">
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder = "Enter Email ID" })
                        @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                        @*<input type="text" class="form-control" name="username" placeholder="Username">*@
                        <i class="fa fa-user"></i>
                    </span>
                </div>
                <div class="form-group form-actions">
                    <span class="input-icon">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Enter Password" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        @*<input type="password" class="form-control password" name="password" placeholder="Password">*@
                        <i class="fa fa-lock"></i>
                        @*<a class="forgot" href="login_forgot.html">
                                I forgot my password
                            </a>*@
                    </span>
                </div>
                <div style="color:red">
                    @ViewBag.error
                </div>
                <div class="form-actions">
                    @*<div style="display:none">
                            @Html.CheckBoxFor(m => m.RememberMe, new { @class = "checkbox clip-check check-primary", @id = "remember", @value = "1" })&nbsp&nbsp Keep me signed in
                        </div>*@
                    <button type="submit" class="btn btn-primary pull-right">
                        Login <i class="fa fa-arrow-circle-right"></i>
                    </button>
                </div>
            }
        </div>
    </div>
</div>

