<!DOCTYPE html>
<html>
<head>

    <meta name="description" content="Shop online at India's largest online marketplace. Great range, best prices, free shipping and COD options! Buy mobiles, laptops, apparel, shoes and many more products."></meta>
    <meta name="keywords" content="snapdeal, online shopping india, mobiles, laptops, cameras, shoes, watches, appliances, apparel"></meta>
    <link rel="canonical" href="#" />
    <title>Online Shopping in India: Buy mobiles, laptops, apparel, shoes & much more</title>
    <meta name="apple-mobile-web-app-capable" content="no">
    <meta name="viewport" content="width=device-width, maximum-scale=1.0, initial-scale=1.0" />
    <meta name="apple-mobile-web-app-title" content="Snapdeal">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link href="Stylesheets/bootstrap.min.css" rel="stylesheet" />
    <link href="Stylesheets/homepage.min.css" rel="stylesheet" type="text/css">

    <link rel="alternate" href="#" />
    <link rel="shortcut icon" href="#" type="image/x-icon" />
    <script type='text/javascript'>
        var topeventsLength = '5';
    </script>
</head>

<body ng-app="sdeal">

    <header>
        <div class="header" id="headerwrapper2">

            <!--<div id="sideBarIcon"> <span class="bar-s-3bar-icon tmpSprite inblock"> </span> </div>-->

            <div class="logo fleft diwali-logo">
                <a href="#" title="Online Shopping Site" style="background-image:url(images/dummy-logo.png)"></a>
            </div>

            <div class="header-right fright">
                <ul>
                    <li id="gifticon"><a href="#"><i class="offers-ico"></i> <span>Offers</span></a></li>
                    <li id="loggedin"><a href="#"><i class="my-account-ico active-user"></i> <span>Account</span></a></li>

                    <li id="cartNotification1" class="no-pad">
                        <a id="cartNotification" href="#" ng-click="chkout()" data-toggle="modal" data-target="#myModal"><i class="cart-ico"><b></b></i> <span>Cart</span></a>
                    </li>
                    <li id="secure-icon"><i class="safe-ico"></i> Safe &amp; Secure </li>

                </ul>
            </div>

            <div class="clear"></div>
            <form action="/signin" id="targetSubmit" name="targetSubmit" method="GET">
                <input type="hidden" name="targetUrl" id="targetUrl" value="/">
            </form>
            <form action="/signin" id="targetSubmitget" name="targetSubmitget" method="GET">
                <input type="hidden" name="targetUrl" id="targetUrlhidden" value="/">
            </form>
        </div>
    </header>


    <div class="ng-view">

    </div>


    <!-- footer starts -->
    <footer class=''>
        <div class="new blk">
            <div class="lnks blk">
                <a href="/">Home</a> <a href="/help">Help</a> <a href="/orderStatus">Track  order</a>
            </div>
        </div>


        <div>
            <a href="#" class='switchDesktop'>Switch to Desktop View</a>
        </div>

        <a href="#">
            Sell Online
        </a>

        <div id="omniture_container_footer"></div>
    </footer>
    <!-- footer ends -->

    <script type="text/javascript" src="Scripts/jquery.new.min.js"></script>
    <script src="Scripts/bootstrap.min.js"></script>
    <script src="Scripts/angular.min.js"></script>
    <script src="Scripts/angular-route.min.js"></script>
    <script src="Scripts/app.js"></script>
    <script src="Scripts/controller.js"></script>
    <script src="Scripts/services.js"></script>

</body>
</html>