﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - Perfect Naukri</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!-- start: GOOGLE FONTS -->

    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- end: GOOGLE FONTS -->
    <!--Start: Main CSS-->
    <link rel=" stylesheet" href="~/vendor/bootstrap/css/bootstrap.min.css">
    <link href="~/vendor/fontawesome/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/vendor/themify-icons/themify-icons.min.css">
    <link href="~/vendor/animate.css/animate.min.css" rel="stylesheet" media="screen">
    <link href="~/vendor/perfect-scrollbar/perfect-scrollbar.min.css" rel="stylesheet" media="screen">
    <link href="~/vendor/switchery/switchery.min.css" rel="stylesheet" media="screen">
    <link href="~/Content/style.css" rel="stylesheet" />
    <!--End: Main CSS-->

    <link href="~/vendor/bootstrap-touchspin/jquery.bootstrap-touchspin.min.css" rel="stylesheet" media="screen" />
    <link href="~/vendor/select2/select2.min.css" rel="stylesheet" media="screen" />
    <link href="~/vendor/bootstrap-datepicker/bootstrap-datepicker3.standalone.min.css" rel="stylesheet" media="screen" />
    <link href="~/vendor/bootstrap-timepicker/bootstrap-timepicker.min.css" rel="stylesheet" media="screen" />



    <!-- start: CLIP-TWO CSS -->
    <link href="~/assets/css/styles.css" rel="stylesheet" />
    <link href="~/assets/css/plugins.css" rel="stylesheet" />
    <link href="~/assets/css/themes/theme-2.css" rel="stylesheet" />
    <link href="~/vendor/fontawesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/fileinput.min.css" rel="stylesheet" />
    @*<link href="~/Content/bootstrap-select.min.css" rel="stylesheet" />
        <link href="~/Content/bootstrap-wysiwyg.min.css" rel="stylesheet" />*@
    <link href="~/assets/css/fileinput.css" rel="stylesheet" />

    <!-- end: CLIP-TWO CSS -->
</head>
<body>
    <div class="hdr">
        <div class="container">
        </div>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @RenderBody()


    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/vendor/jquery-cookie/jquery.cookie.js"></script>
    <script src="~/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="~/vendor/switchery/switchery.min.js"></script>
    <script src="~/vendor/Chart.js/Chart.min.js"></script>
    <script src="~/vendor/jquery.sparkline/jquery.sparkline.min.js"></script>
    @*<script src="~/assets/js/form-elements.js"></script>*@
    @Scripts.Render("~/bundles/jqueryval")
    @*@Scripts.Render("~/bundles/jqueryuploadphoto")*@



    <script src="~/assets/js/main.js"></script>
    <!-- start: JavaScript Event Handlers for this page -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/co/4.1.0/index.min.js"></script>
    <script>
    jQuery(document).ready(function () {
        Main.init();
    });
    </script>
    @RenderSection("Scripts", false)
</body>
</html>
