﻿  <!-- sidebar -->
<div class="sidebar app-aside" id="sidebar">
    <div class="sidebar-container perfect-scrollbar">
        <nav>
            <!-- start: SEARCH FORM -->
            @*<div class="search-form">
                <a class="s-open" href="#">
                    <i class="ti-search"></i>
                </a>
                <form class="navbar-form" role="search">
                    <a class="s-remove" href="#" target=".navbar-form">
                        <i class="ti-close"></i>
                    </a>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search...">
                        <button class="btn search-button" type="submit">
                            <i class="ti-search"></i>
                        </button>
                    </div>
                </form>
            </div>*@
            <!-- end: SEARCH FORM -->
            <!-- start: MAIN NAVIGATION MENU -->
            <ul class="main-navigation-menu">
                <li class="@ViewBag.dashboard">
                    <a href="/app/index">
                        <div class="item-content">
                            <div class="item-media">
                                <i class="ti-home"></i>
                            </div>
                            <div class="item-inner">
                                <span class="title"> Dashboard </span>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="@ViewBag.product">
                    <a href="/app/product">
                        <div class="item-content">
                            <div class="item-media">
                                <i class="ti-shopping-cart"></i>
                            </div>
                            <div class="item-inner">
                                <span class="title">Product</span>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="@ViewBag.manufacturer">
                    <a href="/app/manufacturer">
                        <div class="item-content">
                            <div class="item-media">
                                <i class="ti-hummer"></i>
                            </div>
                            <div class="item-inner">
                                <span class="title">Manufacturer</span>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="@ViewBag.category">
                    <a href="/app/category">
                        <div class="item-content">
                            <div class="item-media">
                                <i class="ti-layers"></i>
                            </div>
                            <div class="item-inner">
                                <span class="title"> Category </span>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="@ViewBag.reports">
                    <a href="#">
                        <div class="item-content">
                            <div class="item-media">
                                <i class="ti-menu-alt"></i>
                            </div>
                            <div class="item-inner">
                                <span class="title">Reports</span></i>
                            </div>
                        </div>
                    </a>
                    <ul class="sub-menu">
                        <li>
                            <a href="/app/order">
                                <span>Order List</span></i>
                            </a>
                        </li>
                    </ul>
                </li>
                @*<li>
                    <a href="javascript:void(0)">
                        <div class="item-content">
                            <div class="item-media">
                                <i class="ti-layers-alt"></i>
                            </div>
                            <div class="item-inner">
                                <span class="title"> Link2 </span><i class="icon-arrow"></i>
                            </div>
                        </div>
                    </a>
                    <ul class="sub-menu">
                        <li>
                            <a href="pages_user_profile.html">
                                <span class="title">User Profile</span>
                            </a>
                        </li>
                        <li>
                            <a href="pages_invoice.html">
                                <span class="title">Invoice</span>
                            </a>
                        </li>
                        <li>
                            <a href="pages_timeline.html">
                                <span class="title">Timeline</span>
                            </a>
                        </li>
                        <li>
                            <a href="pages_calendar.html">
                                <span class="title">Calendar</span>
                            </a>
                        </li>
                        <li>
                            <a href="pages_messages.html">
                                <span class="title">Messages</span>
                            </a>
                        </li>
                        <li>
                            <a href="pages_blank_page.html">
                                <span class="title">Blank Page</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <div class="item-content">
                            <div class="item-media">
                                <i class="ti-package"></i>
                            </div>
                            <div class="item-inner">
                                <span class="title"> Link3 </span><i class="icon-arrow"></i>
                            </div>
                        </div>
                    </a>
                    <ul class="sub-menu">
                        <li>
                            <a href="utilities_search_result.html">
                                <span class="title">Search Results</span>
                            </a>
                        </li>
                        <li>
                            <a href="utilities_error_404.html">
                                <span class="title">Error 404</span>
                            </a>
                        </li>
                        <li>
                            <a href="utilities_error_500.html">
                                <span class="title">Error 500</span>
                            </a>
                        </li>
                        <li>
                            <a href="utilities_pricing_table.html">
                                <span class="title">Pricing Table</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <div class="item-content">
                            <div class="item-media">
                                <i class="ti-folder"></i>
                            </div>
                            <div class="item-inner">
                                <span class="title"> Link4 </span><i class="icon-arrow"></i>
                            </div>
                        </div>
                    </a>
                    <ul class="sub-menu">
                        <li>
                            <a href="javascript:;">
                                <span>Item 1</span> <i class="icon-arrow"></i>
                            </a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="#">
                                        Sample Link 1
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Sample Link 2
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Sample Link 3
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <span>Item 2</span> <i class="icon-arrow"></i>
                            </a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="#">
                                        Sample Link 1
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Sample Link 2
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Sample Link 3
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <span>Item 3</span> <i class="icon-arrow"></i>
                            </a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="#">
                                        Sample Link 1
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Sample Link 2
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Sample Link 3
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <div class="item-content">
                            <div class="item-media">
                                <i class="ti-menu-alt"></i>
                            </div>
                            <div class="item-inner">
                                <span class="title"> Link5 </span><i class="icon-arrow"></i>
                            </div>
                        </div>
                    </a>
                    <ul class="sub-menu">
                        <li>
                            <a href="javascript:;">
                                <span>Item 1</span> <i class="icon-arrow"></i>
                            </a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="javascript:;">
                                        <span>Sample Link 1</span> <i class="icon-arrow"></i>
                                    </a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a href="#">
                                                Sample Link 1
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                Sample Link 2
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                Sample Link 3
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <span>Sample Link 2</span> <i class="icon-arrow"></i>
                                    </a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a href="#">
                                                Sample Link 1
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                Sample Link 2
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                Sample Link 3
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <span>Sample Link 3</span> <i class="icon-arrow"></i>
                                    </a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a href="#">
                                                Sample Link 1
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                Sample Link 2
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                Sample Link 3
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <span>Item 2</span> <i class="icon-arrow"></i>
                            </a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="javascript:;">
                                        <span>Sample Link 1</span> <i class="icon-arrow"></i>
                                    </a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a href="#">
                                                Sample Link 1
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                Sample Link 2
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                Sample Link 3
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <span>Sample Link 2</span> <i class="icon-arrow"></i>
                                    </a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a href="#">
                                                Sample Link 1
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                Sample Link 2
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                Sample Link 3
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <span>Sample Link 3</span> <i class="icon-arrow"></i>
                                    </a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a href="#">
                                                Sample Link 1
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                Sample Link 2
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                Sample Link 3
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <span>Item 3</span> <i class="icon-arrow"></i>
                            </a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="javascript:;">
                                        <span>Sample Link 1</span> <i class="icon-arrow"></i>
                                    </a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a href="#">
                                                Sample Link 1
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                Sample Link 2
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                Sample Link 3
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <span>Sample Link 2</span> <i class="icon-arrow"></i>
                                    </a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a href="#">
                                                Sample Link 1
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                Sample Link 2
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                Sample Link 3
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <span>Sample Link 3</span> <i class="icon-arrow"></i>
                                    </a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a href="#">
                                                Sample Link 1
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                Sample Link 2
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                Sample Link 3
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="maps.html">
                        <div class="item-content">
                            <div class="item-media">
                                <i class="ti-location-pin"></i>
                            </div>
                            <div class="item-inner">
                                <span class="title"> Link6 </span>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="charts.html">
                        <div class="item-content">
                            <div class="item-media">
                                <i class="ti-pie-chart"></i>
                            </div>
                            <div class="item-inner">
                                <span class="title"> Link7 </span>
                            </div>
                        </div>
                    </a>
                </li>*@
            </ul>
            <!-- end: MAIN NAVIGATION MENU -->
            <!-- start: CORE FEATURES -->
            @*<div class="navbar-title">
                <span>Core Features</span>
            </div>*@
            @*<ul class="folders">
                <li>
                    <a href="pages_calendar.html">
                        <div class="item-content">
                            <div class="item-media">
                                <span class="fa-stack"> <i class="fa fa-square fa-stack-2x"></i> <i class="fa fa-terminal fa-stack-1x fa-inverse"></i> </span>
                            </div>
                            <div class="item-inner">
                                <span class="title"> Calendar </span>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="pages_messages.html">
                        <div class="item-content">
                            <div class="item-media">
                                <span class="fa-stack"> <i class="fa fa-square fa-stack-2x"></i> <i class="fa fa-folder-open-o fa-stack-1x fa-inverse"></i> </span>
                            </div>
                            <div class="item-inner">
                                <span class="title"> Messages </span>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>*@
            <!-- end: CORE FEATURES -->
            <!-- start: DOCUMENTATION BUTTON -->
            @*<div class="wrapper">
                <a href="documentation.html" class="button-o">
                    <i class="ti-help"></i>
                    <span>Documentation</span>
                </a>
            </div>*@
            <!-- end: DOCUMENTATION BUTTON -->
        </nav>
    </div>
</div>
<!-- / sidebar -->