﻿
    <div align="center">
        <img class="proimg" src="images/Ravi-Designer-Sarees-Pink-Pure-SDL818258410-1-8a5c7.jpg" />
        <h1>Saari</h1>
        <h3><small style="color:gray">new desiner sari</small></h3>
        <!--<del>Rs. 5236/-</del>-->
        <h3 style="color:green">Rs. 4265/-</h3><br/><br />
        <a class="buybtn" href="">BUY NOW</a>
    </div><br/><br />

    <div class="description">
    <h2>Description:</h2>
    <hr />
    <ul>
        <li><img src="../images/right.png" />Brand: Kajal Sarees</li>
        <li><img src="../images/right.png" />Fabric:Linen</li>
        <li><img src="../images/right.png" />Length: 5.20mts without blouse piece</li>
        <li><img src="../images/right.png" />Weight: 400 gms</li>
        <li><img src="../images/right.png" />Fabric:Linen</li>
        <li><img src="../images/right.png" />Length: 5.20mts without blouse piece</li>
    </ul>
</div>