<script type='text/javascript'>
    var
        startTime = new Date().getTime(),
        onReadyTime = null; var onLoadTime = null,
        topeventsLength = '5'
</script>

<div class="hdr_srch_box blk" id="hdr_srch_box">
    <div class='inner blk'>

        <div style="display:flex">
            <div class="selectfieldholder">
                <select class="selectfield" ng-model="categoryId" ng-change="SearchContext()">
                    <option selected disabled>
                        Select Category
                    </option>
                    <option ng-repeat="categorydata in categorylist" class="optclass" value="{{categorydata.Id}}">{{categorydata.CategoryName}}</option>
                </select>
            </div>
            <div class='cont' style="width:75%">
                <div class="relative search-box-inner blk">
                    <div class='searchBox' id="searchBox">

                        <i class='cmnsprite'></i>
                        <div class='srchFieldHolder'>
                            <input type="text" ng-model="searchString" ng-keyup="SearchContext()" placeholder="Search Products, Brands etc." class="srchfield" id="searchField" />
                            <a href='javascript:;' class='x cmnsprite' style='display:none;'> x </a>
                        </div>
                        <button id="btnSearch" class="searchbutton" ng-click="SearchContext()">Search</button>
                    </div>
                </div>

                <form action="#" id="search" name="search">
                    <input type="hidden" id="keyword" name="keyword" value="" /> <input type="hidden" name="categoryId" id="categoryId" value="" /> <input type="hidden" name="catId" id="catId" value="" /> <input type="hidden" name="suggested" id="suggested" value="false" /> <input type="hidden" name="vertical" id="vertical" value="" />
                    <input type="hidden" name="clickSrc" id="clickSrc" value="" /> <input type="hidden" name="lastKeyword" id="lastKeyword" value="" /> <input type="hidden" name="prodCatId" id="prodCatId" value="" /> <input type="hidden" name="changeBackToAll" id="changeBackToAll" value="false" />
                    <input type="hidden" name="foundInAll" id="foundInAll" value="false" />
                    <input type="hidden" name="categoryIdSearched" id="categoryIdSearched" value="" />
                </form>

            </div>

        </div>

        <div class='shadow'></div>
    </div>
</div>

<div id='mySwipe' style='margin: 0 auto;' class='swipe seamLesspattern'>
    <div class='swipe-wrap' id='banner-box-inside'>
        <div data-index="0" class="main-banner"
             id="banner-image-1">
            <a href="#" target="_self" title="We hope you enjoy your visit!">
                <img src="images/bnr1.jpg" border="0" class="main-banner-img" alt="home wap">
            </a>
        </div>
    </div>
</div>
<div class="page-swipe">
    <nav>
        <ul id="position">
            <li class="on"></li>
            <li class=" "></li>
            <li class=" "></li>
            <li class=" "></li>
            <li class=" "></li>
        </ul>

    </nav>
</div>

<div class="catsection">

    <div class='trending'>

        <div class="trending-outer" ng-repeat="proddata in productlist">
            <div class="trending-thumbnail">
                <a href="">
                    <img class="thumb-dim ng-pristine ng-untouched ng-valid" ng-src='http://localhost:25372/ProductImage/{{proddata.Image}}' />
                </a>
                <div class="caption" style="text-align:center">
                    <input type="hidden" value="{{proddata.Id}}" />
                    <span class="inline-block" style="color:#1a96d6;">{{proddata.ProductName}}</span>
                    <div class="price">$ {{proddata.Price | number:2}}</div>
                </div>
                <a ng-click="add(proddata.Id,proddata.Image,proddata.ProductName,proddata.Price)" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">Buy Now</a>
            </div>
        </div>

    </div>
</div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title"><i class="cart-ico cart"></i>Checkout</h3>
            </div>
            <div class="modal-body">
                <div style="height:228px;overflow-x: hidden;">

                    <div ng-repeat="chkitem in chkout" class="list-group-item">
                        <div class="row">
                            <div class="col-lg-2 col-xs-3">
                                <input ng-model="ProductId" type="hidden" value="{{chkitem.pid}}" />
                                <img align="center" ng-src='http://localhost:25372/ProductImage/{{chkitem.pimg}}' height="54px" />
                            </div>
                            <div class="col-lg-6 col-xs-5">
                                {{chkitem.pname}}<br /><small>short description here</small>
                            </div>
                            <div class="col-lg-2 col-xs-3">
                                <h3>$ {{chkitem.pprice | number:2}}</h3>
                            </div>
                            <div class="col-lg-2 col-xs-1">
                                <a href="" ng-click="removeProduct(chkout,$index)" class="btn btn-default btn-xs pull-right"><i class="cart-ico delete"></i></a>
                            </div>
                        </div>
                    </div>

                </div>
                <div style="padding: 11px;" ng-model="billedAmount" style="display:block">
                    <a style="cursor:pointer" data-dismiss="modal">Continue Shopping >></a>
                    <h3 class="pull-right grand">Grand Total: $ {{carttotal}}</h3>
                </div>

                <div class="row">
                    <div class="col-lg-2">
                        <button type="button" class="btn btn-primary" ng-click="placeOrder(chkout,emailid)">Checkout</button>
                    </div>
                    <div class="col-lg-10">
                        <input type="email" ng-model="emailid" class="form-control" placeholder="enter your email" required />
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

<!--<script type="text/javascript" defer="defer" src="Scripts/home.min.js"></script>-->
