﻿@model CodeFirstModel.Manufacturer
<div class="row">
    @using (Html.BeginForm("addmanufacturer", "app", FormMethod.Post, new { @id = "manufacturerform" }))
    {
        <div class="col-lg-6">
            <div class="form-group">
                <label class="control-label">Manufacturer Name</label>
                @Html.TextBoxFor(m => m.ManufacturerName, new { @class = "form-control", @placeholder = "Manufacturer Name", @required = "required" })
            </div>
            <div class="form-group">
                <button class="btn btn-default" type="submit">Save</button>
            </div>
        </div>
    }
</div>