﻿@model CodeFirstModel.Category
<div class="row">
    @using (Html.BeginForm("addcategory", "app", FormMethod.Post, new { @id = "categoryform" }))
    {
        <div class="col-lg-6">
            <div class="form-group">
                <label class="control-label">Category Name</label>
                @Html.TextBoxFor(m => m.CategoryName, new { @class = "form-control", @placeholder = "Category Name", @required = "required" })
            </div>
            <div class="form-group">
                <button class="btn btn-green" type="submit">Save</button>
            </div>
        </div>
    }
</div>