﻿@model CodeFirstModel.Product
<div class="row">
    @using (Html.BeginForm("addproduct", "app", FormMethod.Post, new { @id = "productform", enctype = "multipart/form-data" }))
    {
        <div class="col-lg-6">
            <div class="form-group">
                <label class="control-label">Add Product Image</label>
                @*@Html.TextBoxFor(m => m.Image, new { @class = "form-control", @type = "file", @id = "photo" })*@
                @Html.TextBox("image", "", new { @class = "form-control", @type = "file", @id = "Image" })
                @Html.HiddenFor(m => m.Image)
            </div>
            <div class="form-group">
                <label class="control-label">Product Name</label>
                @Html.TextBoxFor(m => m.ProductName, new { @class = "form-control", @placeholder = "Product Name", @required = "required"})
                @Html.ValidationMessageFor(m=>m.ProductName)
            </div>
            <div class="form-group">
                <label class="control-label">Price</label>
                @Html.TextBoxFor(m => m.Price, new { @class = "form-control", @placeholder = "Price per piece", @required = "required" })
                @Html.ValidationMessageFor(m => m.Price)
            </div>
            <div class="form-group">
                <label class="control-label">No of Stock</label>
                @Html.TextBoxFor(m => m.InventoryCount, new { @class = "form-control", @placeholder = "No of Stock", @required = "required" })
                @Html.ValidationMessageFor(m => m.InventoryCount)
            </div>
            <div class="form-group">
                <label class="control-label">Manufacturer</label>
                @Html.DropDownListFor(m => m.ManufacturerId, TempData["manufacturer"] as SelectList, new { @class = "form-control" })
            </div>

            <div class="form-group">
                <label class="control-label">Category</label>
                @Html.DropDownListFor(m => m.CategoryId, TempData["category"] as SelectList, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <button class="btn btn-green" type="submit">Save</button>
            </div>
        </div>
    }
</div>