﻿@model List<CodeFirstModel.Manufacturer>
<div class="row">
    <div class="col-lg-12 table-responsive">
        <table class="table srctable">
            <thead>
                <tr>
                    <th>Manufacturer</th>
                    <th>IsDelete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var v in Model)
                {
                    <tr>
                        <td>@v.ManufacturerName</td>
                        <td>@v.IsDelete</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
