﻿@model List<CodeFirstModel.Orders>
<div class="row">
    <div class="col-lg-12 table-responsive">
        <table class="table srctable">
            <thead>
                <tr>
                    <th>OderId</th>
                    <th>Customer EmailID</th>
                    <th>Billed Amount</th>
                    <th>OrderDate</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var v in Model)
                {
                    <tr>
                        <td>@v.Id</td>
                        <td>@v.customer_fk.EmailId</td>
                        <td>@v.BilledAmount</td>
                        <td>@v.OrderDate</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
