﻿@using DataAccess;
@model List<CodeFirstModel.Product>
<div class="row">
    <div class="col-lg-12 table-responsive">
        <table class="table srctable">
            <thead>
                <tr>
                    <th>Image</th>
                    <th>Product Name</th>
                    <th>Price</th>
                    <th>Stock</th>
                    <th>Create Date</th>
                    <th>Action</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var v in Model)
                {
                    <tr>
                        <td>
                            @if (@v.Image != null)
                            {
                                <img src="@Const.AdminLink/ProductImage/@v.Image" class="img-responsive" alt="dummy-joblist" width="30" />
                            }
                            else
                            {
                                <img src="@Const.AdminLink/ProductImage/product_icon.png" class="img-responsive" alt="dummy-joblist" width="30" />
                            }
                        
                        </td>
                        <td>@v.ProductName</td>
                        <td>@v.Price</td>
                        <td>@v.InventoryCount</td>
                        <td>@v.CreateDate</td>
                        <td><a href="/app/deleteproduct/@v.Id" onclick="return confirm('Delete Record ???')"><i class="fa fa-remove"></i></a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>