﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="app">
    @Html.Partial("SideBar")
    <div class="app-content">
        @Html.Partial("Header")
        <div class="main-content">
            <div class="wrap-content container" id="container">
                <!-- start: DASHBOARD TITLE -->
                <section id="page-title" class="padding-top-15 padding-bottom-15">
                    <div class="row">
                        <div class="col-sm-7">
                            <h1 class="mainTitle">Dashboard</h1>
                            <span class="mainDescription">overview &amp; stats </span>
                        </div>
                        <div class="col-sm-5">
                            <!-- start: MINI STATS WITH SPARKLINE -->
                            <ul class="mini-stats pull-right">
                                <li>
                                    <div class="sparkline-1">
                                        <span></span>
                                    </div>
                                    <div class="values">
                                        <strong class="text-dark">@ViewBag.totalpostjob</strong>
                                        <p class="text-small no-margin">
                                            Home
                                        </p>
                                    </div>
                                </li>
                            </ul>
                            <!-- end: MINI STATS WITH SPARKLINE -->
                        </div>
                    </div>
                </section>
                <!-- end: DASHBOARD TITLE -->
                <!-- start: FEATURED BOX LINKS -->
                <div class="container-fluid container-fullw bg-white">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="panel panel-white no-radius text-center">
                                <div class="panel-body">
                                    <span class="fa-stack fa-2x"> <i class="fa fa-square fa-stack-2x text-primary"></i> <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i> </span>
                                    <h2 class="StepTitle">Manage Products</h2>
                                    <span style="color:green;">(Total Products @ViewBag.totaluser)</span>
                                    <p class="text-small">
                                        Verify users, Approve user, Delete User and many more.
                                    </p>
                                    <p class="links cl-effect-1">
                                        <a href="/app/userslist">
                                            view more
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="panel panel-white no-radius text-center">
                                <div class="panel-body">
                                    <span class="fa-stack fa-2x"> <i class="fa fa-square fa-stack-2x text-primary"></i> <i class="fa fa-building fa-stack-1x fa-inverse"></i> </span>
                                    <h2 class="StepTitle">Manage Manufacturer</h2>
                                    <span style="color:green;">(Total Manufacturer @ViewBag.totalemployer)</span>
                                    <p class="text-small">
                                        The Manage Employers tool provides a view of all your employers.
                                    </p>
                                    <p class="cl-effect-1">
                                        <a href="/app/employerlist">
                                            view more
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="panel panel-white no-radius text-center">
                                <div class="panel-body">
                                    <span class="fa-stack fa-2x"> <i class="fa fa-square fa-stack-2x text-primary"></i> <i class="fa fa-reorder fa-stack-1x fa-inverse"></i> </span>
                                    <h2 class="StepTitle">Manage Category</h2>
                                    <span style="color:green;">(Total Categories @ViewBag.totalemployer)</span>
                                    <p class="text-small">
                                        Store, modify, and extract information from your database.
                                    </p>
                                    <p class="links cl-effect-1">
                                        <a href="">
                                            view more
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Html.Partial("Footer")
</div>