﻿@{
    ViewBag.Title = "Order";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="app">
    @section css{
        <link href="~/plugins/DataTables/buttons/css/buttons.dataTables.min.css" rel="stylesheet" />
        <link href="~/plugins/DataTables/css/jquery.dataTables.css" rel="stylesheet" />
    }
    @Html.Partial("SideBar")
    <div class="app-content">
        @Html.Partial("Header")
        <div class="main-content">
            <div class="wrap-content container" id="container">
                <section id="page-title">
                    <div class="row">
                        <br />
                        <br />
                        <ol class="breadcrumb">
                            <li>
                                <span>home</span>
                            </li>
                            <li class="active">
                                <span>product</span>
                            </li>
                        </ol>
                        <div class="col-lg-12">
                            @Html.Partial("_SFMessage")
                        </div>

                    </div>
                </section>
                <div class="container-fluid container-fullw bg-white">
                    <div id="load">
                        @{Html.RenderAction("GetOrderList");}
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Html.Partial("Footer")
    @section Scripts{
        <script src="~/plugins/DataTables/js/jquery.dataTables.min.js"></script>
        <script src="~/plugins/DataTables/buttons/js/dataTables.buttons.min.js"></script>
        <script src="~/plugins/DataTables/buttons/js/buttons.flash.min.js"></script>
        <script src="~/plugins/DataTables/buttons/js/jszip.min.js"></script>
        <script src="~/plugins/DataTables/buttons/js/pdfmake.min.js"></script>
        <script src="~/plugins/DataTables/buttons/js/vfs_fonts.js"></script>
        <script src="~/plugins/DataTables/buttons/js/buttons.html5.min.js"></script>
        <script src="~/plugins/DataTables/buttons/js/buttons.print.min.js"></script>
        <script>
            $(document).ready(function () {
                dttable();
            });

            $(document).on('click', '#addproduct', function () {
                $("#load").load('/app/addproduct');
            });

            $(document).on('click', '#btnsave', function () {
                var valid = $('#productform').valid();
                if (valid) {
                    var formdata = $("#productform").serialize();
                    $.post('/app/addproduct', formdata, function (data) {
                        if (data == "success") {
                            $("#load").load('/app/getproduct');
                        }
                    });
                } else {
                    alert("Please Enter Field");
                }
            });

            function dttable() {
                $('.srctable').DataTable({
                    dom: 'Bfrtip',
                    stateSave: true,
                    lengthMenu: [
                      [25, 35, 25, -1],
                      ['25 rows', '35 rows', '25 rows', 'Show all']
                    ],
                    buttons: [
                        'pageLength', 'copy', 'pdf', 'print', 'excel'
                    ],
                    "order": [[0, 'desc']]

                });
            };
        </script>
    }
</div>