<!DOCTYPE html>
<html>
<head>

    <meta name="description" content="Buy awesome stuff at our shop!"></meta>
    <meta name="keywords" content=""></meta>
    <link rel="canonical" href="#" />
    <title>Online Shopping</title>
    <meta name="apple-mobile-web-app-capable" content="no">
    <meta name="viewport" content="width=device-width, maximum-scale=1.0, initial-scale=1.0" />
    <meta name="apple-mobile-web-app-title" content="Snapdeal">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link href="Stylesheets/bootstrap.min.css" rel="stylesheet" />
    <link href="Stylesheets/homepage.min.css" rel="stylesheet" type="text/css">

    <link rel="alternate" href="#" />
    <link rel="shortcut icon" href="#" type="image/x-icon" />
    <script type='text/javascript'>
        var topeventsLength = '5';
    </script>
</head>

<body ng-app="sdeal">

    <header>
        <div class="header" id="headerwrapper2">

            <div class="clear"></div>
            <form action="/signin" id="targetSubmit" name="targetSubmit" method="GET">
                <input type="hidden" name="targetUrl" id="targetUrl" value="/">
            </form>
            <form action="/signin" id="targetSubmitget" name="targetSubmitget" method="GET">
                <input type="hidden" name="targetUrl" id="targetUrlhidden" value="/">
            </form>
        </div>
    </header>


    <div class="ng-view">

    </div>


    <!-- footer starts -->
    <footer class=''>
        <div class="new blk">
            <div class="lnks blk">
                <a href="/">Home</a>
                <a></a>
                <a id="cartNotification" href="#" ng-click="chkout()" data-toggle="modal" data-target="#myModal"><i class="cart-ico"><b></b></i> <span>Cart</span></a>
            </div>
        </div>


        <div>
            <a href="#" class='switchDesktop'>Switch to Desktop View</a>
        </div>

        <div id="omniture_container_footer"></div>
    </footer>
    <!-- footer ends -->

    <script type="text/javascript" src="Scripts/jquery.new.min.js"></script>
    <script src="Scripts/bootstrap.min.js"></script>
    <script src="Scripts/angular.min.js"></script>
    <script src="Scripts/angular-route.min.js"></script>
    <script src="Scripts/app.js"></script>
    <script src="Scripts/controller.js"></script>
    <script src="Scripts/services.js"></script>

</body>
</html>