﻿
/**
 * Bootstrap Fileinput
 */
.file-preview {
  border-color: #e9e9e9;
  border-radius: 3px;
  margin: 0px 0px 15px 0px;
  padding: 10px; }

.file-caption-name {
  font-size: 13px;
  margin: 4px 0px 0px 0px; }
  .file-caption-name span {
    color: #17a7e0;
    margin: 0px 8px 0px 0px; }

.file-preview-thumbnails {
  text-align: center; }

.file-preview-frame {
  border: 0px;
  box-shadow: none;
  display: inline-block;
  float: none;
  height: auto; }
  .file-preview-frame:hover {
    box-shadow: none !important; }
  .file-preview-frame img {
    display: inline-block;
    height: auto;
    max-width: 100%; }

.file-footer-caption {
  color: #999 !important;
  margin: 5px 0px 0px 0px;
  padding: 0px; }
  .file-footer-caption:hover {
    color: #999 !important; }

.file-input-ajax-new .fileinput-remove {
  display: none !important; }

.file-preview .fileinput-remove {
  color: #FA2A00;
  display: block;
  opacity: 0.95;
  transition: all 0.15s linear; }
  .file-preview .fileinput-remove:hover {
    color: #FA2A00;
    opacity: 1; }

.kv-fileinput-caption:active, .kv-fileinput-caption:focus, .kv-fileinput-caption:hover {
  border-color: #e9e9e9; }

.file-drop-zone {
  border: 0px;
  margin: 0px;
  padding: 0px; }

.file-drop-zone-title {
  background-color: #f7f7f7;
  border-radius: 3px;
  margin: -10px;
  padding: 56px 35px 57px 35px; }
  .file-drop-zone-title span {
    color: #363636;
    font-size: 18px;
    vertical-align: 2px; }
  .file-drop-zone-title .fa {
    color: #D72B29;
    font-size: 26px;
    margin: 0px 15px 0px 0px; }

.file-actions {
  display: none; }
.close {
  float: right;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.2;
  filter: alpha(opacity=20); }

.text-center {
  text-align: center; }

.text-success {
  color: #3c763d; }

a.text-success:hover,
a.text-success:focus {
  color: #2b542c; }

.progress {
  overflow: hidden;
  height: 20px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1); }


.progress-bar {
  float: left;
  width: 0%;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  background-color: #337ab7;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -webkit-transition: width 0.6s ease;
  -o-transition: width 0.6s ease;
  transition: width 0.6s ease; }

.progress-striped .progress-bar,
.progress-bar-striped {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-size: 40px 40px; }

.progress.active .progress-bar,
.progress-bar.active {
  -webkit-animation: progress-bar-stripes 2s linear infinite;
  -o-animation: progress-bar-stripes 2s linear infinite;
  animation: progress-bar-stripes 2s linear infinite; }

.progress-bar-success {
  background-color: #5cb85c; }
  .progress-striped .progress-bar-success {
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent); }

.progress-bar-info {
  background-color: #5bc0de; }
  .progress-striped .progress-bar-info {
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent); }

.progress-bar-warning {
  background-color: #f0ad4e; }
  .progress-striped .progress-bar-warning {
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent); }

.progress-bar-danger {
  background-color: #d9534f; }
  .progress-striped .progress-bar-danger {
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent); }


.clearfix:before,
.split-forms:before,
.footer-top:before,
.footer-top-block:before,
.footer-bottom:before,
ul.filter-list:before,
.hero-content-carousel:before,
.panel-inner:before,
.panel-highlighted-inner:before,
.partners:before,
.post-box:before,
.pricing-tables:before,
.candidates-list-item:before,
.candidate-boxes:before,
.companies-list-item:before,
.company-stats:before,
.widget:before,
.clearfix:after, .split-forms:after, .footer-top:after, .footer-top-block:after, .footer-bottom:after, ul.filter-list:after, .hero-content-carousel:after, .panel-inner:after, .panel-highlighted-inner:after, .partners:after, .post-box:after, .pricing-tables:after, .candidates-list-item:after, .candidate-boxes:after, .companies-list-item:after, .company-stats:after, .widget:after {
  content: " ";
  display: table; }

.clearfix:after, .split-forms:after, .footer-top:after, .footer-top-block:after, .footer-bottom:after, ul.filter-list:after, .hero-content-carousel:after, .panel-inner:after, .panel-highlighted-inner:after, .partners:after, .post-box:after, .pricing-tables:after, .candidates-list-item:after, .candidate-boxes:after, .companies-list-item:after, .company-stats:after, .widget:after {
  clear: both; }